.eologo {
    height: 50px;
}

.wcpagemargin {
    height: 100%;
    position: absolute;
    left: 0;
    width: 100%;
}


.navbar-nav > li{
    padding-left:20px;
    padding-right:20px;
}


.texthead {
    color: white;
}

.headerbackground {
    background-color: rgb(95, 87, 87);
}